# configurazione del database

# host del database MySQL
DB_HOST=localhost

# username per accedere al database
DB_USER=root

# password per accedere al database
DB_PASSWORD=

# nome del database da utilizzare
DB_NAME=pof_db

# configurazione del server

# Porta su cui il server Express ascolterà le richieste
PORT=3006